<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plant"
        android:label="Plant"
        android:roundIcon="@mipmap/plant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"/>
        <activity android:name=".ConfigActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".UsActivity" />
        <activity android:name=".IdeaActivity" />
        <activity android:name=".DanjingshanActivity" />
        <activity android:name=".SanshenghuaxiangActivity" />
        <activity android:name=".ZhiwuyuanActivity" />
        <activity android:name=".PlaceActivity" />
        <activity android:name=".YujinxiangActivity" />
        <activity android:name=".LuhuiActivity" />
        <activity android:name=".HaitanghuaActivity" />
        <activity android:name=".ZhenzhudiaolanActivity" />
        <activity android:name=".DuorouActivity" />
        <activity android:name=".XiangrikuiActivity" />
        <activity android:name=".XianrenzhangActivity" />
        <activity android:name=".BaiheActivity" />
        <activity android:name=".FrameActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />



            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
    </application>

</manifest>